workflows/04_event_booking_confirmation.json
{
  "name": "Biznity: Event Booking Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "event-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n4-webhook",
      "name": "Webhook: Event Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "n4-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-attendee-tg",
              "leftValue": "={{ $json.body.attendeeTelegramChatId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "n4-if-attendee-tg",
      "name": "Attendee Has Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook: Event Booking').item.json.body.attendeeTelegramChatId }}",
        "text": "=🎟 *Booking Confirmed!*\n\n🎪 *Event:* {{ $('Webhook: Event Booking').item.json.body.eventTitle }}\n📅 *Date:* {{ $('Webhook: Event Booking').item.json.body.eventDate }}\n📍 *Venue:* {{ $('Webhook: Event Booking').item.json.body.venueName }}\n🎫 *Seats:* {{ $('Webhook: Event Booking').item.json.body.seats }}\n🔑 *Ticket Code:* `{{ $('Webhook: Event Booking').item.json.body.ticketCode }}`\n\n📲 *Your QR Code:*\nhttps://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{ $('Webhook: Event Booking').item.json.body.ticketCode }}\n\n_Show this code or QR at the entry gate._",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "n4-tg-attendee",
      "name": "Telegram: Ticket to Attendee",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        200
      ],
      "credentials": {
        "telegramApi": {
          "name": "Biznity Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-organizer-tg",
              "leftValue": "={{ $('Webhook: Event Booking').item.json.body.organizerTelegramChatId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "n4-if-organizer-tg",
      "name": "Organizer Has Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook: Event Booking').item.json.body.organizerTelegramChatId }}",
        "text": "=✅ *New Event Booking!*\n\n🎪 *{{ $('Webhook: Event Booking').item.json.body.eventTitle }}*\n👤 *Attendee:* {{ $('Webhook: Event Booking').item.json.body.attendeeName }}\n📞 *Phone:* {{ $('Webhook: Event Booking').item.json.body.attendeePhone }}\n🎫 *Seats:* {{ $('Webhook: Event Booking').item.json.body.seats }}\n💰 *Amount:* ₨ {{ $('Webhook: Event Booking').item.json.body.totalAmount }}\n\n🔗 https://biznity.vercel.app/dashboard/events",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "n4-tg-organizer",
      "name": "Telegram: Notify Organizer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        400
      ],
      "credentials": {
        "telegramApi": {
          "name": "Biznity Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Event Booking": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attendee Has Telegram?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Organizer Has Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendee Has Telegram?": {
      "main": [
        [
          {
            "node": "Telegram: Ticket to Attendee",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Organizer Has Telegram?": {
      "main": [
        [
          {
            "node": "Telegram: Notify Organizer",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}