workflows/05_offer_expiry_warning.json
{
  "name": "BizNepal: Offer Expiry Warning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "n5-schedule",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://biz-nepal.vercel.app/api/bot/expiring-offers",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "n5-fetch-offers",
      "name": "Fetch Expiring Offers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "BizNepal Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "offers",
        "options": {}
      },
      "id": "n5-extract",
      "name": "Extract Offers Array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "n5-split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-tg",
              "leftValue": "={{ $json.telegram_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "n5-if-tg",
      "name": "Has Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "=⏰ *Offer Expiring Soon!*\n\n🏷 *Offer:* {{ $json.title }}\n⌚ Expires in less than *2 hours*\n👥 *Grabbed so far:* {{ $json.grabbed_count }} customers\n\n➡️ Extend or edit your offer:\nhttps://biz-nepal.vercel.app/dashboard/offers",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "n5-tg-owner",
      "name": "Telegram: Warn Owner",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        200
      ],
      "credentials": {
        "telegramApi": {
          "name": "BizNepal Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Expiring Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expiring Offers": {
      "main": [
        [
          {
            "node": "Extract Offers Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Offers Array": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Has Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Telegram?": {
      "main": [
        [
          {
            "node": "Telegram: Warn Owner",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}