workflows/07_welcome_new_business.json
{
  "name": "Biznity: Welcome New Business",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n7-webhook",
      "name": "Webhook: New Signup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "n7-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-business",
              "leftValue": "={{ $json.body.accountType }}",
              "rightValue": "business",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "n7-if-business",
      "name": "Is Business Account?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "n7-wait",
      "name": "Wait 10 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "welcome@biznity.com.np",
        "toEmail": "={{ $('Webhook: New Signup').item.json.body.userEmail }}",
        "subject": "🎉 Welcome to Biznity — {{ $('Webhook: New Signup').item.json.body.businessName }}!",
        "html": "<div style='font-family:Arial,sans-serif;max-width:600px'><div style='background:#0D7377;padding:24px;text-align:center'><h1 style='color:white;margin:0'>Welcome to Biznity! 🙏</h1></div><div style='padding:24px'><p>Namaste <strong>{{ $('Webhook: New Signup').item.json.body.userName }}</strong>!</p><p>Your business <strong>{{ $('Webhook: New Signup').item.json.body.businessName }}</strong> is now registered on Nepal's #1 business platform.</p><h3>Next steps to get started:</h3><ol><li>Complete your business profile</li><li>Add your first product or service</li><li>Connect Telegram for instant notifications</li><li>Share your profile link with customers</li></ol><p style='text-align:center'><a href='https://biznity.vercel.app/dashboard' style='background:#0D7377;color:white;padding:12px 28px;border-radius:8px;text-decoration:none;display:inline-block'>Go to Dashboard</a></p><p style='color:#888;font-size:13px'>Need help? Email us: support@biznity.com.np</p></div></div>",
        "options": {}
      },
      "id": "n7-email-welcome",
      "name": "Email: Welcome Business",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        220
      ]
    }
  ],
  "connections": {
    "Webhook: New Signup": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Business Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Business Account?": {
      "main": [
        [
          {
            "node": "Wait 10 Minutes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 10 Minutes": {
      "main": [
        [
          {
            "node": "Email: Welcome Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}